---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage, author } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <!-- <Breadcrumb /> -->
      {heroImage && <img class="w-full" src={heroImage} alt="" />}
      <article class="md:p-8 flex flex-col">
        <!-- <div class="px-4 md:px-48">
          <h3 class="font-bold">
            {author}
          </h3>
          <h4 class="text-gray-500 text-xs">
            Published at <FormattedDate date={pubDate} />
          </h4>
        </div> -->
        <slot />
      </article>
    </main>

    <Footer />
  </body>
</html>
